*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(85, 1, 1), rgb(14, 62, 129));
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 8dvh;
    width: 100dvw;
    padding: 4dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.logo{
    height: 5dvh;
    width: 12vmax;
    position: relative;
    right: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.feedback{
    color: chartreuse;
    padding: 0.3dvh;
    cursor: pointer;
}
.feedback:hover{
    color: silver;
    border-radius: 5vh;
}
.textarea{
    height: 55dvh;
    margin-top: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textarea .Text{
    height: 80%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    position: relative;
    padding-top: 10vh;
    color: aliceblue;
    background-color:rgba(105, 105, 238, 0.232);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
}
span.correct {
    color: green;
}
span.wrong {
    color: red;
}
.stats{
    height: 5dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: aliceblue;
}
.buttons{
    height: 8dvh;
    width: 100dvw;
    margin-top: 6dvh;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
button{
    font-size: larger;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    background-color: transparent;
}
.buttons .previous{
    font-size: larger;
    cursor: pointer;
}
.buttons .reset{
    font-size: larger;
    cursor: pointer;
}
.buttons .next{
    font-size: larger;
    cursor: pointer;
}
footer{
    margin-top: 8dvh;
}
.Owner{
    color: yellow;
    text-align: center;
}


